.message-container {
  width: fit-content;
  min-width: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  letter-spacing: 0.8px;
  margin: 5px;
}

.error {
  background-color: rgba(207, 5, 5, 0.907);
}

.success {
  background-color: green;
}

.info {
  background-color: orange;
}
